.cardContainer {
    height: 395px;
    width: 308px;
    background: #383838;
    transition: transform 0.2s ease-in-out;
    position: relative; 
}
.cardContainer:hover {
    box-shadow: 1px 1px 5px rgba(211, 199, 199, 0.5);
    transform: scale(1.050);
}

.cardTitle {
    margin-top: 14px;
    margin-left: 15px;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    background: transparent;
}
.cardText {
    margin-top: 6px;
    margin-left: 15px;
    font-size: 16px;
    color: #B3B3B3;
    background: transparent;
}
.buttonContainer {
    position: absolute; 
    bottom: 10px; 
    right: 10px; 
    background-color: transparent;
}
.cardButton {
    font-size: 14px;
    font-weight: 500;
    border: none;
    color: #FBA403;
    background-color: #383838;
    cursor: pointer; 
}
