.cardContainer{
    height: 394px;
    width: 307px;
    background: #383838;
}
.cardTitle{
    margin-top: 14px;
    margin-left: 15px;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    background: transparent;
}
.cardText{
    margin-top: 6px;
    margin-left: 15px;
    font-size: 16px;
    color: #B3B3B3;
    background: transparent;
}
.buttonContainer{
    display: flex;
    justify-content: end;
    align-items: end;
    background-color: transparent;
}
.cardButton{
    margin-right: 27px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    color: #FBA403;
    background-color: #383838;
}