.sessionOne{
    margin: 74px 89px;
}
.SessionContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 74px;
    margin-bottom: 74px;
}
.imageContainer{
    flex: 1;
}
.imageContainer .image{
    width: 610px;
    height: 593.73px;
}
.formContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 42px;
    margin-right: 89px;
    color: #FFFFFF;
}
.formHeader{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    font-size: 26px;
}
.textHeader{
    font-size: 50px;
    font-weight: 700;
}
.spanMyHeader{
    font-weight: 500;
    font-style: italic;
    margin-right: 2.5px;
    color: #FBA403;
}
.spanRideHeader{
    color: #FBA403;
}

.sessionForm{
    display: flex;
    flex-direction: column;
    width: 610px;
    height: 370px;
    border-radius: 4px;
    padding: 30px 33px;
    
    background-color: #2C2C2C;
}
.sessionForm h1{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #FFFFFF;
    background-color: transparent;
}
.error{
    font-size: 14px;
    font-weight: 500;
    color: #FBA403;
    background-color: transparent;
}
@media (max-width:414px) {
    .sessionOne{
        margin: 10px 15px;
    }
    .SessionContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 24px;
        margin-bottom: 24px;
    }
    .imageContainer{
        display: none;
    }
    .formContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 22px;
        margin-right: 39px;
        color: #FFFFFF;
    }
    .formHeader{
        display: flex;
        flex-direction: column;
        margin-bottom: 8px;
        font-size: 12px;
    }
    .textHeader{
        font-size: 20px;
        font-weight: 700;
    }
    .sessionForm{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 370px;
        border-radius: 4px;
        padding: 30px 33px;
        
        background-color: #2C2C2C;
    }
    .sessionForm h1{
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 30px;
        color: #FFFFFF;
        background-color: transparent;
    }
    .error{
        font-size: 10px;
        font-weight: 500;
        color: #FBA403;
        background-color: transparent;
    }
    
}
@media (max-width:1440px) and (min-width:415px) {
    .sessionOne{
        margin: 74px 89px;
    }
    .SessionContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 74px;
        margin-bottom: 74px;
    }
    .imageContainer{
        flex: 1;
    }
    .imageContainer .image{
        width: 610px;
        height: 593.73px;
    }
    .formContainer{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 42px;
        margin-right: 89px;
        color: #FFFFFF;
    }
    .formHeader{
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
        font-size: 26px;
    }
    .textHeader{
        font-size: 50px;
        font-weight: 700;
    }
    .spanMyHeader{
        font-weight: 500;
        font-style: italic;
        margin-right: 2.5px;
        color: #FBA403;
    }
    .spanRideHeader{
        color: #FBA403;
    }
    
    .sessionForm{
        display: flex;
        flex-direction: column;
        width: 610px;
        height: 370px;
        border-radius: 4px;
        padding: 30px 33px;
        
        background-color: #2C2C2C;
    }
    .sessionForm h1{
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 30px;
        color: #FFFFFF;
        background-color: transparent;
    }
    .error{
        font-size: 14px;
        font-weight: 500;
        color: #FBA403;
        background-color: transparent;
    }
}